.pagination {
  display: flex;
  margin: 20px;
  align-self: center;
}

.pagination__item {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 100%;
  color: black;
  cursor: pointer;
}

.pagination__item:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination__item_active {
  color: white;
  background-color: rgb(97, 140, 251);
}

.pagination__text {
  cursor: pointer;
}

.pagination__button {
  margin: 0 5px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: transparent;
  border: 0;
  border-radius: 100%;
  background-size: contain;
}

.pagination__button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination__button_prev {
  background-image: url(../../images/left.png);
}

.pagination__button:disabled {
  opacity: 0.5;
  cursor: default;
}

.pagination__button:disabled:hover {
  opacity: 0.5;
  cursor: default;
  background-color: transparent;
}

.pagination__button_next {
  background-image: url(../../images/right.png);
}

@media screen and (max-width: 500px) {
  .pagination {
    margin: 10px;
  }

  .pagination__item {
    width: 24px;
    height: 24px;
  }

  .pagination__button {
    width: 24px;
    height: 24px;
  }
}
