.comment {
  border-left: 1px solid blueviolet;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

.comment__by {
  display: flex;
}

.comment__image {
  width: 38px;
  height: 38px;
  background-image: url(../../images/user.png);
  background-size: cover;
}

.comment__info {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.comment__user {
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.comment__time {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.comment__parent {
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.comment__text {
  word-wrap: break-word;
  font-size: 16px;
}

.replies {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.comment__replies-button {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  color: rgb(97, 140, 251);
}

.comment__replies-button:hover {
  color: rgb(36, 98, 255);
}

.comment__replies-button:disabled {
  cursor: default;
  opacity: 0.7;
  color: rgb(107, 114, 128);
}
