.stories {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 60%;
}

.stories__loader {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh-60px);
}

@media screen and (max-width: 1200px) {
  .stories {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .stories {
    width: 90%;
  }
}
